[build]
  command = "npm install && npm run build"
  publish = ".next"
[functions]
  directory = "functions"
  node_bundler = "esbuild"
  external_node_modules = ["firebase-functions", "firebase-admin"]
[functions.excluded_files]
  files = [".eslintrc.js"]
  